Portfolio.png
styles/styles.scss
/styles/styles.css.map
/styles/_media.scss

# !styles/styles.css


# echo "styles/styles.scss" >> .gitignore
# git rm --cached styles/styles.scss
# git add .gitignore
# git commit -m "update ignored files"
