Portfolio.png
styles/styles.css.map
styles/styles.scss
styles/
!styles/styles.css


# echo "styles/styles.scss" >> .gitignore
# git rm --cached styles/styles.scss
# git add .gitignore
# git commit -m "update ignored files"
