Portfolio.png

styles/styles.scss
/styles/_media.scss

Dockerfile
doc.md
.dockerignore
*.test.js

.vscode
.gitignore
.gitattributes
# !styles/styles.css

# echo "styles/styles.scss" >> .gitignore
# git rm --cached styles/styles.scss
# git add .gitignore
# git commit -m "update ignored files"
